/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes arrow {
  0% {
    left: 0;
  }
  100% {
    left: 4px;
  }
}

@keyframes scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon .heart {
  transition: fill 0.1s linear;
  transform-origin: center center;
}

.like-icon .contour {
  fill: var(--themes-main-color);
}

.like-icon .main-body {
  fill: var(--bg-color);
  transition: fill 0.3s;
}

.like-icon .core {
  fill: var(--bg-color);
  transition: fill 0.3s 0.03s;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--heart-color);
}

.card__icon-button:hover .main-body {
  fill: var(--themes-main-color);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--themes-main-color);
  transition: fill 0.3s;
}

.card__icon-button:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s;
}
.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s;
}
.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s 2 ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s 2 ease-in alternate;
}
