/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --themes-main-color: #000;
  --background-gradient-one: #d3d3d3;
  --background-gradient-two: #e7e7e7, #1a1a1a;
  --bg-color: #fff;
  --button-hover-color: #fff;
  --heart-color: #f00;
  --label-shadow: var(--bg-color);
  --font-wdht: "wght" 400;
  --font-wdht-b: "wght" 700;
}
